@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    /* outline: 1px solid; */
    font-family: 'Abel', sans-serif;
    transition: .5s all ease;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headingDiv {
    margin: 1rem;
}
#error{
    color: rgb(191, 4, 4);
    font-size: 1.1rem;
    font-weight: bold;
}

.heading {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding: .3rem;
}

.heronameheading {
    text-align: start;
    text-align: 1.5rem;
}

.heading1 {
    text-align: start;
    font-size: 1.4rem;
}

.inputDiv {
    width: fit-content;
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#search {
    width: 60%;
    font-weight: bolder;
    font-size: 1.2rem;
    text-align: center;
    padding: .5rem;
    margin: 1rem;
}

.btn {
    margin: .5rem;
    padding: .3rem 1.2rem;
    border: none;
    transition: none;
    font-size: 1.5rem;
    outline: 1px solid;
    font-weight: bold;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.btn:active{
    background-color: #999;
}

hr {
    color: #000;
    margin: auto;
    margin: .5rem;
    width: 95%;
}

main {
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin: 1rem;
    /* outline: 1px solid; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heroimg {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: auto;
}

#superheroImg {
    border-radius: 5px;
    margin: 1rem
}

#powerStatsDiv {
    background-color: rgb(240,240, 240);
    border-radius: 5px;
    /* outline: 1px solid; */
    margin: 1rem;
}

.listcontainer {
    margin: 1rem;
    list-style: none;
}

.item {
    padding: .4rem;
}

#biographyDiv {
    background-color: rgb(240,240, 240);
    border-radius: 5px;
    /* outline: 1px solid; */
    margin: 1rem;
}

#appearnceDiv {
    background-color: rgb(240,240, 240);
    border-radius: 5px;
    /* outline: 1px solid; */
    margin: 1rem;
}